video {
    width: 1024px
    height: 768px;
    object-fit: cover;
}

.slides>section>p {
  font-weight: bold;  
}
.slides>section>section>p {
  font-weight: bold;  
}

.bible>section, .bible {
  text-align: left;
}
.bible>section>h1, .bible>h1 {
  text-align: center;
}
.bible>section>.caption, .bible>.caption {
  width: 19%;
  float: left;
  font-weight: bold;  
}
.bible>section>.verse, .bible>.verse {
  width: 81%;
  float: right;
  font-weight: bold;  
  padding: 0px;
  margin: 0px;
}

.clear {
  clear: both;
  height: 5px;
}

#section0>section, #section0a>section, #section0b>section, #section0c>section {
  margin-top: -100px;
}
#section0>section>h2 {
  padding-top: 50px;
  font-size: 2.8em;
  text-shadow: 3px 3px #000;
}
#section1>section {
  margin-top: -100px;
}
#section1>section>h2 {
  padding-top: 50px;
  font-size: 2.8em;
  text-shadow: 3px 3px #000;
}
#section1>section:nth-child(3) {
  text-align: left;
  margin-top: -50px;
}
#section1>section:nth-child(3)>h1  {
  font-size: 1.8em;
}
#section1>section:nth-child(3)>p {
  font-size: 1.1em;
}

#section2>section>h1 {
  text-shadow: 2px 2px #fff;
}
#section2>section {
  padding-bottom: 200px;
}

#section3>section>h1 {
  color: #9e0000;
  text-shadow: 3px 3px #fff;
}

#section3>section>p {
  color: #9e0000;
  text-shadow: 1px 2px #fff;
}

#section3>section {
  margin-top: -100px;
}
#section4>section {
  margin-top: -100px;
}
#section4>section>h1, #section4>section>p {
  color: #9e0000;
  text-shadow: 2px 2px #fff;
}

#section5>section h2 {
  font-size: 2.0em;
}
#section5>section p {
  font-size: 1.8em;
}
#section5>section:nth-child(10) {
  text-align: center;
}

#section7>section>h1, #section7>section>p {
  text-shadow: 3px 3px #000;
}

#section10>section>h1, #section10>section>p {
  color: #9e0000;
  text-shadow: 2px 2px #fff;
}

#section8>section {
  margin-top: -50px;
}
#section8>section:nth-child(5) {
  margin-top: -189px;
}
#section8>section p {
  font-size: 1.5em;
  text-shadow: 2px 2px #000;
}

#section9>section>.caption, .bible>.caption {
  width: 10%;
  padding-left: 80px;
  float: left;
  font-weight: bold;  
}
#section9>section>.verse, .bible>.verse {
  width: 81%;
  float: right;
  font-weight: bold;  
  padding: 0px;
  margin: 0px;
}

#section9>section p {
  font-size: 1.4em;
  padding: 0px;
  margin: 0px;
  text-shadow: 3px 3px #000;
}
#section9>section h1, #section9>section h2 {
  text-shadow: 3px 3px #000;
}
#section10>section {
  margin-top: -100px;
}
#section10>section p {
  font-size: 2.0em;
}
#section11>section {
  margin-top: -100px;
}
#section11>section>h1, #section11>section>p {
  text-shadow: 3px 3px #000;
}

#section12>section {
  width: 70%;
}
#section12 h1, #section12 h2, #section12 p {
  color: #9e0000;
  text-shadow: 3px 3px #fff;
}
#section12 p {
  font-size: 1.3em;
  padding: 0px;
  margin: 0px;
}

#section13>section>h1, #section13>section>p {
  text-shadow: 3px 3px #000;
}
#section14>section>h1, #section14>section>p {
  text-shadow: 3px 3px #000;
}

#section15>section {
  margin-top: -100px;
}
#section15>section>h1, #section15>section>p {
  text-shadow: 3px 3px #000;
}

