.slides>section>p {
  font-weight: bold;  
}
.slides>section>section>p {
  font-weight: bold;  
}

.bible>section, .bible {
  text-align: left;
}
.bible>section>h1, .bible>h1 {
  text-align: center;
}
.bible>section>.caption, .bible>.caption {
  width: 15%;
  float: left;
  font-weight: bold;  
}
.bible>section>.verse, .bible>.verse {
  width: 85%;
  float: right;
  font-weight: bold;  
  padding: 0px;
  margin: 0px;
}

.clear {
  clear: both;
  height: 5px;
}

#section1>section:nth-child(3) {
  text-align: left;
}
#section1>section:nth-child(3)>h1,  {
  font-size: 1.5em;
}
#section1>section:nth-child(3)>p {
  font-size: 1.1em;
}

#section2>section>h1 {
  text-shadow: 2px 2px #fff;
}
#section2>section {
  padding-bottom: 200px;
}

#section3>section {
}

#section3>section>h1 {
  color: #9e0000;
  text-shadow: 3px 3px #fff;
}

#section3>section>p {
  color: #9e0000;
  text-shadow: 1px 2px #fff;
}

#section3>section:nth-child(2)>p {
}

#section4>section>h1, #section4>section>p {
  color: #9e0000;
  text-shadow: 2px 2px #fff;
}

#section5>section h2 {
  font-size: 1.8em;
}
#section5>section p {
  font-size: 1.5em;
}

#section10>section>h1, #section10>section>p {
  color: #9e0000;
  text-shadow: 2px 2px #fff;
}

#section8>section p {
  font-size: 1.5em;
}

#section9>section p {
  font-size: 1.4em;
  padding: 0px;
  margin: 0px;
}

#section15>section {
  margin-top: -100px;
}

